.grid-container{
    display: grid;
    width: 100%;
    gap: 10px;
}
.col-2{
    grid-template-columns: 1fr 1fr;
}
.col-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    padding: 4rem;
}

/* ***media queries****** */
@media only screen and (max-width: 500px) {
    .col-2,.col-3{
        grid-template-columns: 1fr;
    }
}