<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <title>Input</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
            <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
            <span class="logo">
              <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
            </span>
            <a href="../../index.html" class="brand-name h6">
              Breeze.css
            </a>
            <div class="navbar-items">
              <nav>
                <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </nav>
            </div>
        </header>
        <aside>
            <div class="drawer" id="sidebar">
            <div class="drawer-content">
                 <!----colors--->
                 <div style="margin: auto;">
                    <div class="list-topic">
                        <i class="fas fa-palette"></i>
                        <span class="text-lg">Palette</span>
                    </div>
                    <li class="drawer-items">
                        <a href="../../pages/colors.html">Colors</a>
                    </li>
                </div>
                <!----layout------>
                <div style="margin: auto;">
                    <div class="list-topic">
                        <i class="fas fa-object-group"></i>
                        <span class="text-lg">Layout</span>
                    </div>
                    <li class="drawer-items">
                        <a href="../Grid/grid.html">Grid</a>
                    </li>
                </div>
                <!---components-->
                <div style="margin: auto;">
                    <div class="list-topic">
                        <i class="fas fa-cube"></i>
                        <span class="text-lg">Components</span>
                    </div>
                    <ul>
                        <li class="drawer-items">
                            <a href="../Alert/alert.html">Alerts</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Avatar/avatar.html"> Avatars</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Badge/badge.html">Badge</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Button/button.html">Button</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Cards/cards.html">Cards</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../ImageComponent/image.html">Image</a>
                        </li>
                        <li class="drawer-items selected">
                            <a href="">Inputs</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../List/list.html">List</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Modal/modal.html">Modal</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Navbar/navbars.html">Navbars</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Ratings/ratings.html">Ratings</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Slider/slider.html">Slider</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Toast/toast.html">Toast</a>
                        </li>
                        <li class="drawer-items">
                            <a href="../Text Utilities/typography.html">Typography</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </aside>
        <section class="doc-container">
            <div class="component-intro">
                <h1 class="h2">Input</h1>
                <p class="text-md info">
                    Inputs are used to get user input in a text-field. They are mainly used in forms. 
                    Inputs can be displayed in various ways depending on its type attribute.  
                </p>
            </div>
            <!-----input element-->
            <div class="component-intro">
                <h2 class="h5">Input Element</h2>
                <p class="text-md info">
                    Input element comes with a label present at the top of the input field. You can 
                    customize the styling to show validations using the <span class="primary-text">.err</span>
                    class on the parent wrapper.              
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container display-col">
                <div class="input-grp">
                    <label>Username</label>
                    <input type="text" class="input-field" />
                </div>
                <div class="input-grp err">
                    <label>Email*</label>
                    <input type="email" class="input-field" placeholder="johnDoe" />
                    <small>Please enter a valid email id.</small>
                </div>
            </div>
            <!------code div-------->
            <div class="code-snippet">
                <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
                    <span class="tool_tip" id="tooltip">tooltip</span>
                </span>
                <pre>
                    <code class="language-html mycode">
                        &lt;div class="input-grp"&gt;
                            &lt;label&gt;Username&lt;/label&gt;
                            &lt;input type="text" class="input-field" /&gt;
                        &lt;/div&gt;
                        &lt;div class="input-grp err"&gt;
                            &lt;label&gt;Email*&lt;/label&gt;
                            &lt;input type="email" class="input-field" placeholder="johnDoe" /&gt;
                            &lt;small&gt;Please enter a valid email id.&lt;/small&gt;
                        &lt;/div&gt;
                    </code>
                </pre>
            </div> 
            <!----textarea------->
            <div class="component-intro">
                <h2 class="h5">Textarea Element</h2>
                <p class="text-md info">
                    The textarea element defines a multi-line text input control. It is often used in a
                    form, to collect user inputs like comments or reviews.             
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container">
                <div class="input-grp">
                    <label>Textarea</label>
                    <textarea placeholder="enter you text here" rows="4" class="input-field" ></textarea>
                </div>
            </div>
            <!------code div-------->
            <div class="code-snippet">
                <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
                    <span class="tool_tip" id="tooltip">tooltip</span>
                </span>              
                <pre>
                    <code class="language-html mycode">
                        &lt;div class="input-grp"&gt;
                            &lt;label&gt;Textarea&lt;/label&gt;
                            &lt;textarea placeholder="enter you text here" rows="4" class="input-field"&gt;&lt;/textarea&gt;
                        &lt;/div&gt;
                    </code>
                </pre>
            </div>
        </section>
        <!----footer---->
        <footer class="footer">
            <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
            <div class="socials">
              <a class="links" href="https://github.com/chanchal16" target="_blank">
                  <i class="fab fa-github fa-2x"></i></a>
              <a class="links" href="https://twitter.com/chanchal16_" target="_blank">
                  <i class="fab fa-twitter fa-2x"></i></a>
              <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank">
                  <i class="fab fa-linkedin-in fa-2x"></i></a>
            </div>
            <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script> 
    <script>hljs.highlightAll();</script>
    <script src="../../index.js"></script>
</body>
</html>