<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./input.css" class="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="input-container">
        <div class="input-grp">
            <label>Username</label>
            <input type="text" class="input-field" />
        </div>
        <div class="input-grp err">
            <label>Email*</label>
            <input type="email" class="input-field" placeholder="johnDoe" />
            <small>Please enter a valid email id.</small>
        </div>
    </div> 
    <div class="input-container">
        <div class="input-grp">
            <label>Textarea</label>
            <textarea placeholder="enter you text here" rows="4" class="input-field" ></textarea>
        </div>
    </div>
</body>
</html>