<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <title>Breeze.css</title>
</head>
<body>
  <div class="container">
    <header class="navbar">
      <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
      <span class="logo">
        <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
        <!-- <img src="../assets/logo.svg" alt="logo" width="35px" height="35px" /> -->
      </span>
      <a href="../../index.html" class="brand-name h6">
        Breeze.css
      </a>
      <div class="navbar-items">
        <nav>
          <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </nav>
      </div>
    </header>
    <aside>
      <div class="drawer" id="sidebar">
        <div class="drawer-content">
          <h2 class="text-md"><strong>Components</strong></h2>
          <div style="margin: auto;">
            <ul>
              <li class="drawer-items ">
                <a href="../Alert/alert.html">Alerts</a>
              </li>
              <li class="drawer-items">
                <a href="../Avatar/avatar.html"> Avatars</a>
              </li>
              <li class="drawer-items">
                <a href="../Badge/badge.html">Badge</a>
              </li>
              <li class="drawer-items selected">
                <a href="#">Button</a>
              </li>
              <li class="drawer-items">
                <a href="../Cards/cards.html">Cards</a>
              </li>
              <li class="drawer-items">
                <a href="../ImageComponent/image.html">Image</a>
              </li>
              <li class="drawer-items">
                <a href="../Input/input.html">Inputs</a>
              </li>
              <li class="drawer-items">
                <a href="../List/list.html">List</a>
              </li>
              <li class="drawer-items">
                <a href="../Navbar/navbars.html">Navbars</a>
              </li>
              <li class="drawer-items">
                <a href="../Text Utilities/typography.html">Typography</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <section class="doc-container">
      <div class="component-intro">
        <h1 class="h2">Buttons</h1>
        <p class="text-md info">
            A Button is used to trigger an event or action. It allows user to make choices,with a single
            tap. They are usually used with other components such as forms, dialogs, cards, toolbars,etc.
        </p>
      </div>
      <div class="component-intro">
        <h2 class="h5">Contained Buttons</h2>
        <p class="text-md info">
            A Contained button comes with two colors primary and secodary. They are the basic buttons which 
            takes primary actions of your app 
        </p>
      </div>
      <!--------preview div--------->
      <div class="example-container">
        <button class="button btn-primary">primary</button>
        <button class="button btn-secondary">secondary</button>
      </div>
      <!------code div-------->
      <div class="code-snippet">
        <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
          <span class="tool_tip" id="tooltip">tooltip</span>
        </span>
        <pre>
          <code class="language-html mycode">
            &lt;button class="button btn-primary"&gt;primary&lt;/button&gt;
            &lt;button class="button btn-secondary"&gt;secondary&lt;/button&gt;
          </code>
        </pre>
      </div>
      <!-----links------>
      <div class="component-intro">
        <h2 class="h5">Link Buttons</h2>
        <p class="text-md info">
          Links allow users to click their way from page to page. There are two variants of links as below. 
        </p>
      </div>
      <div class="example-container">
        <a class="button link">LINK</a>
        <a class="link-secondary">LINK</a>
      </div>
      <!------code div-------->
      <div class="code-snippet">
        <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
          <span class="tool_tip" id="tooltip">tooltip</span>
        </span>
        <pre>
          <code class="language-html mycode">
            &lt;a class="button link"&gt;LINK&lt;/a&gt;
            &lt;a class="link-secondary"&gt;LINK&lt;/a&gt;
          </code>
        </pre>
      </div>
      <!---icon buttons---->
      <div class="component-intro">
        <h2 class="h5">Icon Buttons</h2>
        <p class="text-md info">
          Icon buttons are commonly found in app bars and toolbars. Sometimes you might want to have icons 
          for certain buttons to enhance the UX of the application. So, we have provided two variants 
          depending on your need.
        </p>
      </div>
      <div class="example-container">
        <a class="button icon"><i class="fas fa-trash-alt fa-lg"></i></a>
        <button class="button btn-icon"><i class="fas fa-bolt"></i> Buy now</button>
      </div>
      <!------code div-------->
      <div class="code-snippet">
        <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
          <span class="tool_tip" id="tooltip">tooltip</span>
        </span>
        <pre>
          <code class="language-html mycode">
            &lt;a class="button icon"&gt;&lt;i class="fas fa-trash-alt fa-lg"&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;button class="button btn-icon"&gt;&lt;i class="fas fa-bolt"&gt;&lt;/i&gt; Buy now&lt;/button&gt;
          </code>
        </pre>
      </div>
      <!----floating action btns----->
      <div class="component-intro">
        <h2 class="h5">Floating Action Buttons</h2>
        <p class="text-md info">
          A floating action button (FAB) performs most common or primary action on the screen. It is 
          usually circular in shape with icon in its center.
        </p>
        <span class="primary-text">Note: Only one component is recommended per screen to represent the most common action. </span> 
      </div>
      <div class="example-container">
        <button class="button fab-primary">
          <i class="fas fa-plus"></i>
        </button>
        <button class="button fab-secondary">
          <i class="fas fa-pen"></i>
        </button>
      </div>
      <!------code div-------->
      <div class="code-snippet">
        <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
          <span class="tool_tip" id="tooltip">tooltip</span>
        </span>
        <pre>
          <code class="language-html mycode">
            &lt;button class="button fab"&gt;
              &lt;i class="fas fa-plus"&gt;&lt;/i&gt;
            &lt;/button&gt;
            &lt;button class="button fab-secondary"&gt;
              &lt;i class="fas fa-pen"&gt;&lt;/i&gt;
            &lt;/button&gt;
          </code>
        </pre>
      </div>
    </section>
    <!----footer---->
    <footer class="footer">
      <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
      <div class="socials">
        <a class="links" href="https://github.com/chanchal16" target="_blank">
          <i class="fab fa-github fa-2x"></i></a>
        <a class="links" href="https://twitter.com/chanchal16_" target="_blank">
          <i class="fab fa-twitter fa-2x"></i></a>
        <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank">
          <i class="fab fa-linkedin-in fa-2x"></i></a>
      </div>
      <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script> 
  <script>hljs.highlightAll();</script>
  <script src="../../index.js"></script>
</body>
</html>