<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <title>Breeze.css</title>
</head>
<body>
  <div class="container">
    <header class="navbar">
      <span class="logo">
        <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
        <!-- <img src="../assets/logo.svg" alt="logo" width="35px" height="35px" /> -->
      </span>
      <h2 class="brand-name h6">
        Breeze.css
      </h2>
      <div class="navbar-items">
        <nav>
          <a href="#" class="github-btn">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </nav>
      </div>
    </header>
    <aside>
      <div class="drawer">
        <div class="drawer-content">
          <h2 class="text-md">Components</h2>
          <div style="margin: auto;">
            <ul>
              <li class="drawer-items selected">
                <a href="">Alerts</a>
              </li>
              <li class="drawer-items">
                <a href="../Avatar/avatar.html"> Avatars</a>
              </li>
              <li class="drawer-items">
                <a href="../Badge/badge.html">Badege</a>
              </li>
              <li class="drawer-items">
                <a href="../Button/button.html">Button</a>
              </li>
              <li class="drawer-items">
                <a href="../Cards/cards.html">Cards</a>
              </li>
              <li class="drawer-items">
                <a href="../ImageComponent/image.html">Image</a>
              </li>
              <li class="drawer-items">
                <a href="../Input/input.html">Inputs</a>
              </li>
              <li class="drawer-items">
                <a href="../Text Utilities/typography.html">Typography</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <section class="doc-container">
      <div class="component-intro">
        <h1 class="h2">Buttons</h1>
        <p class="text-md info">
            A Button is used to trigger an event or action. It allows user to make choices,with a single
            tap. They are usually used with other components such as forms, dialogs, cards, toolbars,etc.
        </p>
      </div>
      <div class="component-intro">
        <h2 class="h5">Contained Buttons</h2>
        <p class="text-md info">
            A Contained button comes with two colors primary and secodary. They are the basic buttons which 
            takes primary actions of your app 
        </p>
      </div>
      <!--------preview div--------->
      <div class="example-container">
        <button class="button btn-primary">primary</button>
        <button class="button btn-secondary">secondary</button>
      </div>
      <!------code div-------->
      <div class="code-snippet">
        <code>
          <iframe
            src="https://carbon.now.sh/embed/LRvypvsvFxEAtAPYefjd"
            style=" border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
        </code>
      </div>
      <!-----links------>
      <div class="component-intro">
        <h2 class="h5">Link Buttons</h2>
        <p class="text-md info">
          Links allow users to click their way from page to page. There are two variants of links as below. 
        </p>
      </div>
      <div class="example-container">
        <a class="button link">LINK</a>
        <a class="link-secondary">LINK</a>
      </div>
      <!------code div-------->
      <div class="code-snippet">
        <code>
          <iframe
            src="https://carbon.now.sh/embed/4WWdkTeI94iRPkw616pS"
            style="border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
        </code>
      </div>
      <!---icon buttons---->
      <div class="component-intro">
        <h2 class="h5">Icon Buttons</h2>
        <p class="text-md info">
          Icon buttons are commonly found in app bars and toolbars. Sometimes you might want to have icons 
          for certain buttons to enhance the UX of the application. So, we have provided two variants 
          depending on your need.
        </p>
      </div>
      <div class="example-container">
        <a class="button icon"><i class="fas fa-trash-alt fa-lg"></i></a>
        <button class="button btn-icon"><i class="fas fa-bolt"></i> Buy now</button>
      </div>
      <!------code div-------->
      <div class="code-snippet">
        <code>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ca%2520class%253D%2522button%2520icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-trash-alt%2520fa-lg%2522%253E%253C%252Fi%253E%253C%252Fa%253E%250A%253Cbutton%2520class%253D%2522button%2520btn-icon%2522%253E%253Ci%2520class%253D%2522fas%2520fa-bolt%2522%253E%253C%252Fi%253E%2520Buy%2520now%253C%252Fbutton%253E"
            style="border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
        </code>
      </div>
      <!----floating action btns----->
      <div class="component-intro">
        <h2 class="h5">Floating Action Buttons</h2>
        <p class="text-md info">
          A floating action button (FAB) performs most common or primary action on the screen. It is 
          usually circular in shape with icon in its center.
        </p>
        <span class="primary-text">Note: Only one component is recommended per screen to represent the most common action. </span> 
      </div>
      <div class="example-container">
        <button class="button fab">
          <i class="fas fa-plus"></i>
        </button>
        <button class="button fab-secondary">
          <i class="fas fa-pen"></i>
        </button>
      </div>
      <!------code div-------->
      <div class="code-snippet">
        <code>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button%2520fab%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520fab-secondary%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-pen%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
            style=" border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
        </code>
      </div>
    </section>
  </div>
</body>
</html>