<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <title>Breeze.css</title>
</head>
<body>
    <div class="btn-container">
      <button class="btn btn-primary">primary</button>
      <button class="btn btn-secondary">secondary</button>
    </div>
    <div class="btn-container">
      <a class="btn link">LINK</a>
    </div>
    <div class="btn-container">
      <a class="btn icon"><i class="fas fa-trash-alt fa-lg"></i></a>
    </div>
    <div class="btn-container">
      <button class="btn fab">
        <i class="fas fa-plus"></i>
      </button>
      <button class="btn fab-secondary">
        <i class="fas fa-pen"></i>
      </button>
    </div>
</body>
</html>