<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>

</head>
<body>
    <div class="avatar-container">
        <img class="avatar sm" src="https://avatars.dicebear.com/api/bottts/x4.svg" alt="avatar" />
        <img class="avatar md" src="https://i.pinimg.com/originals/84/ad/96/84ad96512475a67fdc236b876456e4cd.jpg" alt="avatar" />
        <img class="avatar lg" src="https://i.pinimg.com/originals/84/ad/96/84ad96512475a67fdc236b876456e4cd.jpg" alt="avatar" />
    </div>
    <!---------with initials-->
    <div class="avatar-container">
        <div class="avatar sm">CR</div>
        <div class="avatar md">CR</div>
        <div class="avatar lg">CR</div>
    </div>
    <!----SQUARE-->
    <div class="avatar-container">
        <img class="avatar square sm" src="https://avatars.dicebear.com/api/bottts/x4.svg" alt="avatar" />
        <img class="avatar square md" src="https://i.pinimg.com/originals/84/ad/96/84ad96512475a67fdc236b876456e4cd.jpg" alt="avatar" />
        <img class="avatar square lg" src="https://i.pinimg.com/originals/84/ad/96/84ad96512475a67fdc236b876456e4cd.jpg" alt="avatar" />
    </div>
</body>
</html>