<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <title>Avatar</title>

</head>
<body>
    
        <img class="avatar sm" src="https://avatars.dicebear.com/api/bottts/x4.svg" alt="avatar" />
        <img class="avatar md" src="https://i.pinimg.com/originals/84/ad/96/84ad96512475a67fdc236b876456e4cd.jpg" alt="avatar" />
        <img class="avatar lg" src="https://avatars.dicebear.com/api/avataaars/x18.svg" alt="avatar" />
    
    <!---------with initials-->
    
        <div class="avatar sm">CR</div>
        <div class="avatar md">CR</div>
        <div class="avatar lg">CR</div>
    
    <!----SQUARE-->
    
        <img class="avatar square sm" src="https://avatars.dicebear.com/api/bottts/x4.svg" alt="avatar" />
        <img class="avatar square md" src="https://i.pinimg.com/originals/84/ad/96/84ad96512475a67fdc236b876456e4cd.jpg" alt="avatar" />
        <img class="avatar square lg" src="https://i.pinimg.com/originals/84/ad/96/84ad96512475a67fdc236b876456e4cd.jpg" alt="avatar" />
    
</body>
</html>