<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <title>Breeze.css</title>

</head>
<body>
    <div class="container">
        <header class="navbar">
          <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
            <span class="logo">
              <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
              <!-- <img src="../assets/logo.svg" alt="logo" width="35px" height="35px" /> -->
            </span>
            <h2 class="brand-name h6">
              Breeze.css
            </h2>
            <div class="navbar-items">
              <nav>
                <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </nav>
            </div>
        </header>
        <aside>
            <div class="drawer" id="sidebar">
              <div class="drawer-content">
                <h2 class="text-md"><strong>Components</strong></h2>
                <div style="margin: auto;">
                  <ul>
                    <li class="drawer-items">
                      <a href="../Alert/alert.html">Alerts</a>
                    </li>
                    <li class="drawer-items selected">
                      <a href=""> Avatars</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Badge/badge.html">Badge</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Button/button.html">Button</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Cards/cards.html">Cards</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../ImageComponent/image.html">Image</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Input/input.html">Inputs</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../List/list.html">List</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Navbar/navbars.html">Navbars</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Text Utilities/typography.html">Typography</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </aside>
        <section class="doc-container">
            <div class="component-intro">
                <h1 class="h2">Avatars</h1>
                <p class="text-md info">
                    The Avatar component is used to represent a user or an entity (such as project, repository, or space), 
                    and displays the profile picture, initials or fallback icon.
                </p>
            </div>
            <div class="component-intro">
                <h2 class="h5">Rounded Avatars</h2>
                <p class="text-md">
                    There are three sizes available --<span>small, medium, and large</span> you can access this 
                    using classes <span class="primary-text">.sm, .md, .lg</span> respectively.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container ">
                <img class="avatar sm" src="https://avatars.dicebear.com/api/bottts/x4.svg" alt="avatar1" />
                <img class="avatar md" src="https://i.pravatar.cc/150?img=37" alt="avatar2" />
                <img class="avatar lg" src="https://avatars.dicebear.com/api/avataaars/x18.svg" alt="avatar3" />
            </div>
            <!------code div-------->
            <div class="code-snippet">
                <pre>
                  <code class="language-html">
                    &lt;img class="avatar sm" src="https://avatars.dicebear.com/api/bottts/x4.svg" alt="avatar1" /&gt;
                    &lt;img class="avatar md" src="https://i.pravatar.cc/150?img=37" alt="avatar2" /&gt;
                    &lt;img class="avatar lg" src="https://avatars.dicebear.com/api/avataaars/x18.svg" alt="avatar3" /&gt;
                  </code>
                </pre>
            </div>


            <!---------with initials-->
            <div class="component-intro">
                <h2 class="h5">Avatars with Initials</h2>
                <p class="text-md info">
                    You can also create avatars using initials of users. You can use these avatars as default
                    if user does not provide a picture or if there is an error loading the src of the avatar.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container ">
                <div class="avatar sm">CR</div>
                <div class="avatar md">CR</div>
                <div class="avatar lg">CR</div>
            </div>
            <!------code div-------->
            <div class="code-snippet">
                <pre>
                  <code class="language-html">
                    &lt;div class="avatar sm"&gt;CR&lt;/div&gt;
                    &lt;div class="avatar md"&gt;CR&lt;/div&gt;
                    &lt;div class="avatar lg"&gt;CR&lt;/div&gt;
                  </code>
                </pre>
            </div>

            <!----SQUARE---->
            <div class="component-intro">
                <h2 class="h5">Square Avatars</h2>
                <p class="text-md info">
                    If you need a square variant you can simply add <span class="primary-text">.square</span>
                    class to the existing class.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container ">
                <img class="avatar square sm" src="https://avatars.dicebear.com/api/bottts/x4.svg" alt="avatar" />
                <img class="avatar square md" src="https://i.pravatar.cc/150?img=37" alt="avatar" />
                <img class="avatar square lg" src="https://avatars.dicebear.com/api/avataaars/x18.svg" alt="avatar" />
            </div>
            <!------code div-------->
            <div class="code-snippet">
                <pre>
                  <code class="language-html">
                    &lt;img class="avatar square sm" src="https://avatars.dicebear.com/api/bottts/x4.svg" alt="avatar" /&gt;
                    &lt;img class="avatar square md" src="https://i.pravatar.cc/150?img=37" alt="avatar" /&gt;
                    &lt;img class="avatar square lg" src="https://avatars.dicebear.com/api/avataaars/x18.svg" alt="avatar" /&gt;
                  </code>
                </pre>
            </div>
        </section>
        <!----footer---->
        <footer class="footer">
          <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
          <div class="socials">
            <a class="links" href="https://github.com/chanchal16" target="_blank">
              <i class="fab fa-github fa-2x"></i></a>
            <a class="links" href="https://twitter.com/chanchal16_" target="_blank">
              <i class="fab fa-twitter fa-2x"></i></a>
            <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank">
              <i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
          <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
        </footer>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script> 
  <script>hljs.highlightAll();</script>
  <script src="../../index.js"></script>
</body>
</html>