
.avatar-container{
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    border:1px solid var(--basic);
    margin:2rem; 
    padding: 1rem; 
}

.avatar{
    border:1px solid var(--basic);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
}
.sm{
    width: 40px;
    height: 40px;
    font-size: 1rem;
}
.md{
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
}
.lg{
    width: 60px;
    height: 60px;
    font-size: 1.8rem;
}
.square{
    border-radius: 8px;
}
