<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <title>Navbar</title>
</head>
<body>
    <div class="example-container display-col">
        <!---simple nav--->
        <header class="navbar">
          <a href="#" class="menu-icon">
            <img src="../../assets/swan-breeze.svg" width="35px" height="35px" alt="logo" />
          </a>
            <nav>
              <button class="login-btn">
                Login
              </button>
            </nav>
        </header>

        <!---nav with links on left side---->
        <header class="navbar">
            <a href="#" class="menu-icon">
                <img src="../../assets/swan-breeze.svg" width="35px" height="35px" alt="logo" />
            </a>          
              <nav>
                <ul >
                  <li class="list-items">
                    <a href="">Home</a>
                  </li>
                  <li class="list-items">
                    <a href="">About</a>
                  </li>
                  <li class="list-items">
                    <a href="">Contact</a>
                  </li>
                </ul>
              </nav>
        </header>
        <!--nav with icon links--->
        <header class="navbar">
            <a href="#" class="menu-icon">
                <img src="../../assets/swan-breeze.svg" width="35px" height="35px" alt="logo" />
            </a>
            <nav>
                <ul>
                    <li class="list-items">
                      <i class="fas fa-envelope fa-lg"></i>
                    </li>
                    <li class="list-items">
                      <i class="fas fa-bell fa-lg"></i>
                    </li>
                </ul>
            </nav>
            <a href="#" class="user ">
                <span>
                    <i class="far fa-user-circle fa-2x"></i>
                </span>
            </a>
        </header>
    </div>
</body>
</html>