@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

@import './Avatar/avatar.css';
@import './Badge/badge.css';

:root{
    --danger: red;
    --success: #22C55E;
    --basic:grey;
    --light:#fda4af;
}