@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

@import './Alert/alert.css';
@import './Button/button.css';

:root{
    --primary:#fb7185;
    --primary-dark:#f43f5e;
    --secondary:#34d399;
    --secondary-dark:#10b981;
    --danger: #F44336;
    --success: #4CAF50;
    --warn:#FF9800;
    --basic:grey;
    --light:#ffe4e6 ;
}