*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*****colors***/
.gray{
    color: rgb(156, 154, 154);   
}
.gray i{
    cursor: pointer;
}
.primary{
    color:var(--primary);
}
.secondary{
    color:var(--secondary);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: 2rem;
    padding: 1rem;
    background-color: var(--default-bg);
}
.card{
  background-color: white;
  border-radius: 10px;
  max-width: 250px;
  overflow:hidden;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-media{
    position: relative;
}
.vc-image{
    width: 100%;
    height: 250px;
    object-fit: fill;
}
.text-badge{
    position: absolute;
    top:1rem;
    left: 0;
    background-color:var(--primary) ;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
}
/***close btn**/
.close{
    position: absolute;
    top:1rem;
    right: 0.8rem;
    color: white;
    cursor: pointer;
}
.card-content{
    margin: 1rem 0;
}
.content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem 0;
    font-size: 1.2rem;
}

/***description container***/
.desc{
   /* padding: 10px; */
   margin: 0 1rem;
}
.desc-title{
    font-size: 1rem;
    padding: 8px 0;
}

.strike-text{
    text-decoration: line-through;
}
/****action btns*******/
.action-btns{
    margin: 0.8rem 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn{
    width: 90%;
    margin:0 1rem;
    padding: 8px 12px;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary);
}
.btn:hover,.btn-primary:hover{
    background-color: var(--primary-dark);
}
/******overlay***/
.overlay{
    position: absolute;
    width: 100%;
    height: 100%; 
    top:0;
    overflow: hidden;
    background-color: rgb(234, 234, 236,0.5);
    z-index: 5;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.overlay-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: auto;
    background-color: #eaeaec;
    font-size: 2rem;
}
/********horizontal card*******/
.horizontal-card{
    display: flex;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}
.hc-image{
    width: 130px;
    height: 150px;
}
.content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:8px
}
.card-title{
    font-size: 1.5rem;
    margin: 0.8rem 1rem 0;
}
.card-sub-title{
    margin: 0 1rem 1rem;
    font-size: 1rem;
    color: var(--basic);
}
/****text only card****/
.text-card{
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.chip{
    padding:5px;
    background-color: var(--default-bg);
    margin: 2rem 0.5rem ;
}
.text{
    margin:1rem;
}
.btn-primary{
    padding: 8px 12px;
    margin:0 1rem ;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary);
}