<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Breeze.css</title>
</head>
<body>
    <div class="card-container">
        <div class="card">
            <div class="card-media">
                <img class="vc-image"
                src="https://rukminim1.flixcart.com/image/800/960/kl8ccy80/top/k/p/s/xxl-t352-wrwh-eyebogler-original-imagyeehpufu7tcf.jpeg?q=50" 
                alt="top" />
                <span class="badge">new</span>
            </div>
            <div class="card-content">
                <div class="content-title">
                    <h4>Maroon Top</h4>
                    <span class=" gray">
                        <i class="fas fa-heart fa-lg"></i>
                    </span>
                </div>
                <div class="desc">
                    <p class="desc-title">Casual Regular Top</p>
                    <p><strong> Rs.799 </strong>&nbsp;<span class="strike-text gray">Rs.999       
                    </span>&nbsp;<span class="secondary">20% off</span></p>
                </div> 
                <div class="action-btns">
                    <button class="btn"><i class="fas fa-shopping-cart"></i> Add to cart</button>
                </div>                      
            </div>
        </div>
        <!----with dismiss/close btn---->
        <div class="card">
            <div class="card-media">
                <img class="vc-image"
                src="https://rukminim1.flixcart.com/image/800/960/kl8ccy80/top/k/p/s/xxl-t352-wrwh-eyebogler-original-imagyeehpufu7tcf.jpeg?q=50" 
                alt="top" />
                <span class="badge">new</span>
                <span class="close "><i class="fas fa-times fa-lg"></i></span>
            </div>
            <div class="card-content">
                <div class="content-title">
                    <h4>Maroon Top</h4>
                    <span class=" gray">
                        <i class="fas fa-heart fa-lg"></i>
                    </span>
                </div>
                <div class="desc">
                    <p class="desc-title">Casual Regular Top</p>
                    <p><strong> Rs.799 </strong>&nbsp;<span class="strike-text gray">Rs.999       
                    </span>&nbsp;<span class="secondary">20% off</span></p>
                </div>
                <div class="action-btns">
                    <button class="btn"><i class="fas fa-shopping-cart"></i> Add to cart</button>
                </div>                        
            </div>
        </div>

        <!---text overelay---->      
        <div class="card">
                <div class="card-media">
                    <img class="vc-image"
                    src="https://rukminim1.flixcart.com/image/800/960/kl8ccy80/top/k/p/s/xxl-t352-wrwh-eyebogler-original-imagyeehpufu7tcf.jpeg?q=50" 
                    alt="top" />
                    <span class="badge">new</span>
                    <span class="close "><i class="fas fa-times fa-lg"></i></span>
                </div>
                <div class="card-content">
                    <div class="content-title">
                        <h4>Maroon Top</h4>
                        <span class=" gray">
                            <i class="fas fa-heart fa-lg"></i>
                        </span>
                    </div>
                    <div class="desc">
                        <p class="desc-title">Casual Regular Top</p>
                        <p><strong> Rs.799 </strong>&nbsp;<span class="strike-text gray">Rs.999       
                        </span>&nbsp;<span class="secondary">20% off</span></p>
                    </div>
                    <div class="action-btns">
                        <button class="btn"><i class="fas fa-shopping-cart"></i> Add to cart</button>
                    </div>                        
                </div> 
                <div class="overlay">
                    <p class="overlay-text">out of stock</p>
                </div>                    
        </div>          
    </div>
    <!----horizontal card---->
    <div class="card-container">
        <div class="horizontal-card">
            <div class="card-media">
                <img class="hc-image"
                src="https://rukminim1.flixcart.com/image/800/960/kjym9ow0/hand-messenger-bag/s/g/t/women-s-pu-leather-handbag-and-sling-bags-combo-of-3-grey-embdry-original-imafzeyztetpuyjf.jpeg?q=50" 
                alt="top" />
               
            </div>
            <div class="content">
                <h3 class="title">Handbags</h3>
                <p class="gray sub-title">Min 70% off</p>
                <button class="btn">Shop now!</button>
            </div>
        </div>
    </div>
    <!-----text only card--->
    <div class="card-container">
        <div class="text-card">
            <span class=" gray chip">Word of the Day</span>
            <h3 class="title">be•nev•o•lent</h3>
            <p class="gray sub-title">adjective</p>
            <p class="text">well meaning and kindly.
                "a benevolent smile"</p>
            <button class=" btn-primary">Learn More</button>
        </div>
    </div>
</body>
</html>