<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./cards.css">
    <title>Document</title>
</head>
<body>
    <div class="card-container">
        <div class="card">
            <div class="card-media">
                <img src="https://rukminim1.flixcart.com/image/800/960/kl8ccy80/top/k/p/s/xxl-t352-wrwh-eyebogler-original-imagyeehpufu7tcf.jpeg?q=50" alt="top" />
                <span class="badge">new</span>
            </div>
            <div class="card-content">
                <div class="content-title">
                    <h4>Maroon Top</h4>
                    <span class=" gray">
                        <i class="fas fa-heart fa-lg"></i>
                    </span>
                </div>
                <div class="desc">
                    <p class="desc-title">Casual Regular Top</p>
                    <p class="price"><strong> Rs.799 </strong>&nbsp;<span class="strike-text gray">Rs.999       
                    </span>&nbsp;<span class="secondary">20% off</span></p>
                </div>                       
            </div>
        </div>
        <!----with dismiss---->
        <div class="card">
            <div class="card-media">
                <img src="https://rukminim1.flixcart.com/image/800/960/kl8ccy80/top/k/p/s/xxl-t352-wrwh-eyebogler-original-imagyeehpufu7tcf.jpeg?q=50" alt="top" />
                <span class="badge">new</span>
                <span class="close "><i class="fas fa-times fa-lg"></i></span>
            </div>
            <div class="card-content">
                <div class="content-title">
                    <h4>Maroon Top</h4>
                    <span class=" gray">
                        <i class="fas fa-heart fa-lg"></i>
                    </span>
                </div>
                <div class="desc">
                    <p class="desc-title">Casual Regular Top</p>
                    <p class="price"><strong> Rs.799 </strong>&nbsp;<span class="strike-text gray">Rs.999       
                    </span>&nbsp;<span class="secondary">20% off</span></p>
                </div>                       
            </div>
        </div>
        <!---text overelay---->
        
        <div class="card">
                <div class="card-media">
                    <img src="https://rukminim1.flixcart.com/image/800/960/kl8ccy80/top/k/p/s/xxl-t352-wrwh-eyebogler-original-imagyeehpufu7tcf.jpeg?q=50" alt="top" />
                    <span class="badge">new</span>
                    <span class="close "><i class="fas fa-times fa-lg"></i></span>
                </div>
                <div class="card-content">
                    <div class="content-title">
                        <h4>Maroon Top</h4>
                        <span class=" gray">
                            <i class="fas fa-heart fa-lg"></i>
                        </span>
                    </div>
                    <div class="desc">
                        <p class="desc-title">Casual Regular Top</p>
                        <p class="price"><strong> Rs.799 </strong>&nbsp;<span class="strike-text gray">Rs.999       
                        </span>&nbsp;<span class="secondary">20% off</span></p>
                    </div>                       
                </div> 
                <div class="overlay">
                    <p class="overlay-text">out of stock</p>
                </div>                    
        </div>
            
    </div>
</body>
</html>