li{
    list-style: none;
    margin: 1rem;
    cursor: pointer;
}
.stacked-list{
    min-width:300px ;
}
.list{
    width: 200px;
    padding: 1rem 0.5rem;
    margin: 1rem;
    background-color: white;
}

.stacked-list-item{
    background-color: #f7f5f5;
    padding:1rem;
    margin: 0.25rem;
}