<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <title>List</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
          <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
            <span class="logo">
              <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
            </span>
            <a href="../../index.html" class="brand-name h6">
              Breeze.css
            </a>
            <div class="navbar-items">
              <nav>
                <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </nav>
            </div>
        </header>
        <aside>
            <div class="drawer" id="sidebar">
              <div class="drawer-content">
                <h2 class="text-md"><strong>Components</strong></h2>
                <div style="margin: auto;">
                  <ul>
                    <li class="drawer-items">
                      <a href="../Alert/alert.html">Alerts</a>
                    </li>
                    <li class="drawer-items ">
                      <a href="../Avatar/avatar.html"> Avatars</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Badge/badge.html">Badge</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Button/button.html">Button</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Cards/cards.html">Cards</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Grid/grid.html">Grid</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../ImageComponent/image.html">Image</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Input/input.html">Inputs</a>
                    </li>
                    <li class="drawer-items selected">
                        <a href="#">List</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Modal/modal.html">Modal</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Navbar/navbars.html">Navbars</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Ratings/ratings.html">Ratings</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Slider/slider.html">Slider</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Toast/toast.html">Toast</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Text Utilities/typography.html">Typography</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </aside>
        <section class="doc-container">
            <div class="component-intro">
                <h1 class="h2">List</h1>
                <p class="text-md info">
                    Lists are a continuous group of text or images. They consist of primary or supplemental 
                    actions represented by icons or text.
                </p>
            </div>
            <div class="component-intro">
                <h2 class="h5">Simple list</h2>
            </div>
            <!----simple list----->
            <!--------preview div--------->
            <div class="example-container ">
                <ul class="list">
                    <li>Item one</li>
                    <li>Item two</li>
                    <li>Item three</li>
                    <li>Item four</li>
                </ul>
            </div>
            <!------code div-------->
            <div class="code-snippet">
              <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
                <span class="tool_tip" id="tooltip">tooltip</span>
              </span>
                <pre>
                  <code class="language-html mycode">
                    &lt;ul class="list"&gt;
                      &lt;li&gt;Item one&lt;/li&gt;
                      &lt;li&gt;Item two&lt;/li&gt;
                      &lt;li&gt;Item three&lt;/li&gt;
                      &lt;li&gt;Item four&lt;/li&gt;
                    &lt;/ul&gt;
                  </code>
                </pre>
            </div>
            <!----stacked list---->
            <div class="component-intro">
                <h2 class="h5">Stacked list</h2>
                <p class="text-md">
                    Stacked list have items stacked. It is mainly used to create notifications. To use this 
                    component just add <span class="primary-text">.stacked-list</span> to the 
                    <span class="primary-text">&lt;ul&gt;</span> element.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container ">
                <ul class="list stacked-list">
                    <li class="stacked-list-item">Notification 1</li>
                    <li class="stacked-list-item">Notification 2</li>
                    <li class="stacked-list-item">Notification 3</li>
                    <li class="stacked-list-item">Notification 4</li>
                </ul>
            </div>
            <!----code div----->
            <div class="code-snippet">
              <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
                <span class="tool_tip" id="tooltip">tooltip</span>
              </span>
                <pre>
                  <code class="language-html mycode">
                    &lt;ul class="list stacked-list"&gt;
                      &lt;li class="stacked-list-item"&gt;Notification 1&lt;/li&gt;
                      &lt;li class="stacked-list-item"&gt;Notification 2&lt;/li&gt;
                      &lt;li class="stacked-list-item"&gt;Notification 3&lt;/li&gt;
                      &lt;li class="stacked-list-item"&gt;Notification 4&lt;/li&gt;
                    &lt;/ul&gt;
                  </code>
                </pre>
            </div>
        </section>
        <!----footer---->
        <footer class="footer">
          <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
          <div class="socials">
            <a class="links" href="https://github.com/chanchal16" target="_blank">
              <i class="fab fa-github fa-2x"></i></a>
            <a class="links" href="https://twitter.com/chanchal16_" target="_blank">
              <i class="fab fa-twitter fa-2x"></i></a>
            <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank" >
              <i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
          <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script> 
    <script>hljs.highlightAll();</script>
    <script src="../../index.js"></script>
</body>
</html>