<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <title>Breeze.css</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
          <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
            <span class="logo">
              <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
            </span>
            <a href="../../index.html" class="brand-name h6">
              Breeze.css
            </a>
            <div class="navbar-items">
              <nav>
                <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </nav>
            </div>
        </header>
        <aside>
            <div class="drawer" id="sidebar">
              <div class="drawer-content">
                 <!----colors--->
                 <div style="margin: auto;">
                    <div class="list-topic">
                        <i class="fas fa-palette"></i>
                        <span class="text-lg">Palette</span>
                    </div>
                    <li class="drawer-items">
                        <a href="../../pages/colors.html">Colors</a>
                    </li>
                  </div>
                <!----layout------>
                <div style="margin: auto;">
                  <div class="list-topic">
                      <i class="fas fa-object-group"></i>
                      <span class="text-lg">Layout</span>
                  </div>
                  <li class="drawer-items">
                      <a href="../Grid/grid.html">Grid</a>
                  </li>
                </div>
                <!--components--->
                <div style="margin: auto;">
                  <div class="list-topic">
                    <i class="fas fa-cube"></i>
                    <span class="text-lg">Components</span>
                  </div>
                  <ul>
                    <li class="drawer-items">
                      <a href="../Alert/alert.html">Alerts</a>
                    </li>
                    <li class="drawer-items ">
                      <a href="../Avatar/avatar.html"> Avatars</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Badge/badge.html">Badge</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Button/button.html">Button</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Cards/cards.html">Cards</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../ImageComponent/image.html">Image</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Input/input.html">Inputs</a>
                    </li>
                    <li class="drawer-items selected">
                        <a href="#">List</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Modal/modal.html">Modal</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Navbar/navbars.html">Navbars</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Ratings/ratings.html">Ratings</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Slider/slider.html">Slider</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Toast/toast.html">Toast</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Text Utilities/typography.html">Typography</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </aside>
        <section class="doc-container">
            <div class="component-intro">
                <h1 class="h2">List</h1>
                <p class="text-md info">
                    Lists are a continuous group of text or images. They consist of primary or supplemental 
                    actions represented by icons or text.
                </p>
            </div>
            <div class="component-intro">
                <h2 class="h5">Simple list</h2>
            </div>
            <!----simple list----->
            <!--------preview div--------->
            <div class="example-container ">
                <ul class="list">
                    <li>Item one</li>
                    <li>Item two</li>
                    <li>Item three</li>
                    <li>Item four</li>
                </ul>
            </div>
            <!------code div-------->
            <div class="code-snippet">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fchanchal16%2Fbreeze.css%2Fblob%2Fdevelopment%2FComponents%2FList%2Flist.html%23L124-L129&style=a11y-dark&showCopy=on"></script>
            </div>
            <!----stacked list---->
            <div class="component-intro">
                <h2 class="h5">Stacked list</h2>
                <p class="text-md">
                    Stacked list have items stacked. It is mainly used to create notifications. To use this 
                    component just add <span class="primary-text">.stacked-list</span> to the 
                    <span class="primary-text">&lt;ul&gt;</span> element.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container ">
                <ul class="list stacked-list">
                    <li class="stacked-list-item">Notification 1</li>
                    <li class="stacked-list-item">Notification 2</li>
                    <li class="stacked-list-item">Notification 3</li>
                    <li class="stacked-list-item">Notification 4</li>
                </ul>
            </div>
            <!----code div----->
            <div class="code-snippet">
              <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fchanchal16%2Fbreeze.css%2Fblob%2Fdevelopment%2FComponents%2FList%2Flist.html%23L146-L151&style=a11y-dark&showCopy=on"></script>
            </div>
        </section>
        <!--back to top btn--->
        <button class="button fab-primary" id="backToTop">
          <i class="fas fa-angle-double-up"></i>
        </button>
        <!----footer---->
        <footer class="footer">
          <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
          <div class="socials">
            <a class="links" href="https://github.com/chanchal16" target="_blank">
              <i class="fab fa-github fa-2x"></i></a>
            <a class="links" href="https://twitter.com/chanchal16_" target="_blank">
              <i class="fab fa-twitter fa-2x"></i></a>
            <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank" >
              <i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
          <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
        </footer>
    </div>
    
    <script src="../../index.js"></script>
</body>
</html>