<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <title>List</title>
</head>
<body>
    <h5 class="h5">Simple list</h5>
    <ul class="list">
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
        <li>Item four</li>
    </ul>
    <h5 class="h5">Stacked list</h5>
    <ul class="list stacked-list">
        <li class="stacked-list-item">Notification 1</li>
        <li class="stacked-list-item">Notification 2</li>
        <li class="stacked-list-item">Notification 3</li>
        <li class="stacked-list-item">Notification 4</li>
    </ul>
</body>
</html>