<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <title>Breeze.css</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
            <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
            <span class="logo">
              <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
            </span>
            <a href="../../index.html" class="brand-name h6">
              Breeze.css
            </a>
            <div class="navbar-items">
              <nav>
                <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </nav>
            </div>
        </header>
        <aside>
            <div class="drawer" id="sidebar">
            <div class="drawer-content">
                <h2 class="text-md"><strong>Components</strong></h2>
                <div style="margin: auto;">
                <ul>
                    <li class="drawer-items">
                        <a href="../Alert/alert.html">Alerts</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Avatar/avatar.html"> Avatars</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Badge/badge.html">Badge</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Button/button.html">Button</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Cards/cards.html">Cards</a>
                    </li><li class="drawer-items selected">
                        <a href="../Grid/grid.html">Grid</a>
                    </li>
                    <li class="drawer-items selected">
                        <a href="">Image</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Input/input.html">Inputs</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../List/list.html">List</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Navbar/navbars.html">Navbars</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Ratings/ratings.html">Ratings</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Slider/slider.html">Slider</a>
                    </li>
                    <li class="drawer-items">
                        <a href="../Text Utilities/typography.html">Typography</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </aside>
        <section class="doc-container">
            <div class="component-intro">
                <h1 class="h2">Images</h1>
                <p class="text-md info">
                    Image component is used to display images on the screen. They take the entire width of the 
                    parent and are responsive. 
                </p>
            </div>
            <div class="component-intro">
                <h2 class="h5">Responsive Image</h2>
                <p class="text-md info">
                    You can make the image responsive by giving it a class 
                    <span class="primary-text">.res-image</span>. It will keep the aspect ratio same.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container">
                <div class="img">
                    <img 
                    src="https://i.picsum.photos/id/0/5616/3744.jpg?hmac=3GAAioiQziMGEtLbfrdbcoenXoWAW-zlyEAMkfEdBzQ" 
                    alt="responsive-image" class="res-image" />
                </div>
            </div>
            <!------code div-------->
            <div class="code-snippet">
                <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
                    <span class="tool_tip" id="tooltip">tooltip</span>
                </span>
                <pre>
                    <code class="language-html mycode">
                        &lt;img src="path-of-the-image" alt="responsive-image" class="res-image" /&gt;
                    </code>
                </pre>
            </div>
            <!--------round image------->
            <div class="component-intro">
                <h2 class="h5">Round Image</h2>
                <p class="text-md info">
                    To make the image round shaped just add the class <span class="primary-text">.round-img</span>
                    to the image.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container">
                <img 
                src="https://picsum.photos/id/237/400/400"
                alt="round-image" class="round-img" />
            </div>
            <!------code div-------->
            <div class="code-snippet">
                <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
                    <span class="tool_tip" id="tooltip">tooltip</span>
                </span>
                <pre>
                    <code class="language-html mycode">
                        &lt;img src="path-of-the-image" alt="round-image" class="round-img" /&gt;
                    </code>
                </pre>
            </div>
        </section>
        <!----footer---->
        <footer class="footer">
            <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
            <div class="socials">
              <a class="links" href="https://github.com/chanchal16" target="_blank">
                  <i class="fab fa-github fa-2x"></i></a>
              <a class="links" href="https://twitter.com/chanchal16_" target="_blank">
                  <i class="fab fa-twitter fa-2x"></i></a>
              <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank">
                  <i class="fab fa-linkedin-in fa-2x"></i></a>
            </div>
            <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script> 
    <script>hljs.highlightAll();</script>
    <script src="../../index.js"></script>
</body>
</html>