<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <title>Badge</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
            <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
            <span class="logo">
              <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
              <!-- <img src="../assets/logo.svg" alt="logo" width="35px" height="35px" /> -->
            </span>
            <a href="../../index.html" class="brand-name h6">
              Breeze.css
            </a>
            <div class="navbar-items">
              <nav>
                <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </nav>
            </div>
        </header>
        <aside>
            <div class="drawer" id="sidebar">
                <div class="drawer-content">
                    <!----colors--->
                    <div style="margin: auto;">
                        <div class="list-topic">
                            <i class="fas fa-palette"></i>
                            <span class="text-lg">Palette</span>
                        </div>
                        <li class="drawer-items">
                            <a href="../../pages/colors.html">Colors</a>
                        </li>
                    </div>
                    <!----layout------>
                    <div style="margin: auto;">
                        <div class="list-topic">
                            <i class="fas fa-object-group"></i>
                            <span class="text-lg">Layout</span>
                        </div>
                        <li class="drawer-items">
                            <a href="../Grid/grid.html">Grid</a>
                        </li>
                    </div>
                    <!----components-->
                    <div style="margin: auto;">
                        <div class="list-topic">
                            <i class="fas fa-cube"></i>
                            <span class="text-lg">Components</span>
                        </div>
                        <ul>
                            <li class="drawer-items ">
                                <a href="../Alert/alert.html">Alerts</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Avatar/avatar.html"> Avatars</a>
                            </li>
                            <li class="drawer-items selected">
                                <a href="">Badge</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Button/button.html">Button</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Cards/cards.html">Cards</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Grid/grid.html">Grid</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../ImageComponent/image.html">Image</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Input/input.html">Inputs</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../List/list.html">List</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Modal/modal.html">Modal</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Navbar/navbars.html">Navbars</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Ratings/ratings.html">Ratings</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Slider/slider.html">Slider</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Toast/toast.html">Toast</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Text Utilities/typography.html">Typography</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <section class="doc-container">
            <div class="component-intro">
                <h1 class="h2">Badge</h1>
                <p class="text-md info">
                    Badges are used to highlight an item's status for quick recognition. They small circles
                    usually positioned at top-right or bottom right of the parent element.
                </p>
            </div>
            <!-----badges on icon------>
            <div class="component-intro">
                <h2 class="h5">Badge on icon</h2>
                <p class="text-md">
                    There are two types of badges available for icon --<span>number badge and dot badge</span> you can access this 
                    using classes <span class="primary-text">.numbadge and .dotbadge</span> respectively followed by 
                    <span class="primary-text">.badge</span> class.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container">
                <div class='badge-icon'>
                    <i class="fas fa-envelope fa-2x"></i>
                    <div class='badge numbadge'>
                    <small>7</small>
                    </div>
                </div>
                
                <div class='badge-icon'>
                    <i class="fas fa-bell fa-2x"></i>
                    <div class='badge dotbadge'></div>
                </div>
            </div>
            <!------code div-------->
            <div class="code-snippet">
                <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
                    <span class="tool_tip" id="tooltip">tooltip</span>
                </span>
                <pre>
                    <code class="language-html mycode">
                        &lt;!---number badge---&gt;
                        &lt;div class='badge-icon'&gt;
                            &lt;i class="fas fa-envelope fa-2x"&gt;&lt;/i&gt;
                            &lt;div class='badge numbadge'&gt;
                            &lt;small&gt;7&lt;/small&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!--dot badge--&gt;
                        &lt;div class='badge-icon'&gt;
                            &lt;i class="fas fa-bell fa-2x"&gt;&lt;/i&gt;
                            &lt;div class='badge dotbadge'&gt;&lt;/div&gt;
                        &lt;/div&gt;
                    </code>
                </pre>
            </div>

            <!----------badge on avatar-------------->
            <div class="component-intro">
                <h2 class="h5">Profile Badge</h2>
                <p class="text-md">
                    Profile badge is used to show the current status of the user. There are three variants
                    for the status namely-- <span class="primary-text">online, offline, busy</span>.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container">
                <div class="media">
                    <img class="avatar-badge"
                        src="https://i.pravatar.cc/150?img=60"
                        alt=""
                    />
                    <div class='badge online'></div>
                </div>
                <div class="media">
                    <img class="avatar-badge"
                        src="https://i.pravatar.cc/150?img=60"
                        alt=""
                    />
                    <div class='badge offline'></div>
                </div>
                <div class="media">
                    <img class="avatar-badge"
                        src="https://i.pravatar.cc/150?img=60"
                        alt=""
                    />
                    <div class='badge busy'></div>
                </div>
            </div>
            <!------code div-------->
            <div class="code-snippet">
                <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
                    <span class="tool_tip" id="tooltip">tooltip</span>
                </span>
                <pre>
                    <code class="language-html mycode">
                        &lt;!---badge with online status--&gt;
                        &lt;div class="media"&gt;
                            &lt;img class="avatar-badge"
                            src="https://static.diverseui.com/female-71.jpg" alt="avatar"/&gt;
                            &lt;div class='badge online'&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!---badge with offline status--&gt;
                        &lt;div class="media"&gt;
                            &lt;img class="avatar-badge"
                            src="https://static.diverseui.com/female-71.jpg" alt="" /&gt;
                            &lt;div class='badge offline'&gt;&lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!---badge with busy status--&gt;
                        &lt;div class="media"&gt;
                            &lt;img class="avatar-badge"
                            src="https://static.diverseui.com/female-71.jpg"/&gt;
                            &lt;div class='badge busy'&gt;&lt;/div&gt;
                        &lt;/div&gt;
                    </code>
                </pre>
            </div>
        </section>
        <!----footer---->
        <footer class="footer">
            <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
            <div class="socials">
              <a class="links" href="https://github.com/chanchal16" target="_blank">
                  <i class="fab fa-github fa-2x"></i></a>
              <a class="links" href="https://twitter.com/chanchal16_" target="_blank">
                  <i class="fab fa-twitter fa-2x"></i></a>
              <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank">
                  <i class="fab fa-linkedin-in fa-2x"></i></a>
            </div>
            <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script> 
    <script>hljs.highlightAll();</script>
    <script src="../../index.js"></script>
</body>
</html>