<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles.css">
    <title>Badge</title>
</head>
<body>
    <div class="badge-container">
      <div class='icon'>
        <i class="fas fa-envelope fa-2x"></i>
        <div class='badge numbadge'>
          <small>7</small>
        </div>
      </div>
    
      <div class='icon'>
        <i class="fas fa-bell fa-2x"></i>
        <div class='badge dotbadge'></div>
      </div>
    </div>
    
    <div class="badge-container">
        <div class="media">
            <img class="avatar-badge"
                src="https://i.picsum.photos/id/839/200/200.jpg?hmac=IKyeqXa3iOwFkcM24B_X_Qjf9643wuDTCsTiM3T6AZg"
                alt="hill"
            />
            <div class='badge online'></div>
        </div>
        <div class="media">
            <img class="avatar-badge"
                src="https://i.picsum.photos/id/839/200/200.jpg?hmac=IKyeqXa3iOwFkcM24B_X_Qjf9643wuDTCsTiM3T6AZg"
                alt="hill"
            />
            <div class='badge offline'></div>
        </div>
        <div class="media">
            <img class="avatar-badge"
                src="https://i.picsum.photos/id/839/200/200.jpg?hmac=IKyeqXa3iOwFkcM24B_X_Qjf9643wuDTCsTiM3T6AZg"
                alt="hill"
            />
            <div class='badge busy'></div>
        </div>
    </div>
</body>
</html>