<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <title>Breeze.css</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
            <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
            <span class="logo">
                <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
            </span>
            <a href="../../index.html" class="brand-name h6">
            Breeze.css
            </a>
            <div class="navbar-items">
                <nav>
                    <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </nav>
            </div>
        </header>
        <aside>
            <div class="drawer" id="sidebar">
              <div class="drawer-content">
                  <!----colors--->
                    <div style="margin: auto;">
                        <div class="list-topic">
                            <i class="fas fa-palette"></i>
                            <span class="text-lg">Palette</span>
                        </div>
                        <li class="drawer-items">
                            <a href="../../pages/colors.html">Colors</a>
                        </li>
                    </div>
                    <!----layout------>
                    <div style="margin: auto;">
                        <div class="list-topic">
                            <i class="fas fa-object-group"></i>
                            <span class="text-lg">Layout</span>
                        </div>
                        <li class="drawer-items">
                            <a href="../Grid/grid.html">Grid</a>
                        </li>
                    </div>
                    <!---components--->
                    <div style="margin: auto;">
                        <div class="list-topic">
                            <i class="fas fa-cube"></i>
                            <span class="text-lg">Components</span>
                        </div>
                        <ul>
                            <li class="drawer-items">
                                <a href="../Alert/alert.html">Alerts</a>
                            </li>
                            <li class="drawer-items ">
                                <a href="../Avatar/avatar.html"> Avatars</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Badge/badge.html">Badge</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Button/button.html">Button</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Cards/cards.html">Cards</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../ImageComponent/image.html">Image</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Input/input.html">Inputs</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../List/list.html">List</a>
                            </li>
                            <li class="drawer-items selected">
                                <a href="">Modal</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Navbar/navbars.html">Navbars</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Ratings/ratings.html">Ratings</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Slider/slider.html">Slider</a>
                            </li>
                            <li class="drawer-items ">
                                <a href="../Toast/toast.html">Toast</a>
                            </li>
                            <li class="drawer-items">
                                <a href="../Text Utilities/typography.html">Typography</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
        </aside>
        <section class="doc-container">
            <div class="component-intro">
                <h1 class="h2">Modal</h1>
                <p class="text-md info">
                    Modal is a dialog box/popup window that is displayed on top of the current page.
                    It properly manages focus; moving to the modal content, and keeping it there 
                    until the modal is closed.
                </p>
            </div>
            <!--------preview div--------->
            <div class="example-container">
                <!-----alert dialog------->
                <button id="btn1" class="button btn-primary">Open Modal</button>
                <div id="modal1" class="modal">
                    <div class="dialog alertbox">
                    <p class="h6">Do you want to discard changes?</p>
                        <div class="dialog-action">
                            <button class="action-btns">CANCEL</button>
                            <button id="closebtn" class="action-btns">DISCARD</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---code snippet---->
            <div class="code-snippet">
                <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
                    <span class="tool_tip" id="tooltip">tooltip</span>
                </span>
                <pre>
                    <code class="language-html mycode">
                        &lt;div id="modal1" class="modal"&gt;
                            &lt;div class="dialog alertbox"&gt;
                            &lt;p class="h6"&gt;Do you want to discard changes?&lt;/p&gt;
                                &lt;div class="dialog-action"&gt;
                                    &lt;button class="action-btns"&gt;CANCEL&lt;/button&gt;
                                    &lt;button id="closebtn" class="action-btns"&gt;DISCARD&lt;/button&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    </code>
                </pre>
            </div>
        </section>
        <!----footer---->
        <footer class="footer">
            <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
            <div class="socials">
            <a class="links" href="https://github.com/chanchal16" target="_blank">
                <i class="fab fa-github fa-2x"></i></a>
            <a class="links" href="https://twitter.com/chanchal16_" target="_blank">
                <i class="fab fa-twitter fa-2x"></i></a>
            <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank">
                <i class="fab fa-linkedin-in fa-2x"></i></a>
            </div>
            <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script> 
    <script>hljs.highlightAll();</script>
    <script src="../../index.js"></script>
    <script src="./modal.js"></script>
</body>
</html>