<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./alert.css">
    <title>Document</title>
</head>
<body>
  <div class="alert-container">
    <div class="alert basic">
      <p>This is basic alert!</p>
    </div>
    
    <div class='alert success'>
      <span><i class="far fa-check-circle"></i></span>
      <p>This is success message!</p>
    </div>
    
    <div class='alert error'>
      <i class="fas fa-skull"></i>
      <p>This is error message.</p>
    </div>
    
    <div class='alert warning'>
      <i class="fas fa-exclamation-triangle"></i>
      <p>This is warning message.</p>
    </div>
  </div>
  
</body>
</html>