
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.alert-container{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    border: 1px solid var(--basic);
    margin: auto;
}
.alert{
    width: 100%;
    display:flex;
    align-items: center;
    gap:10px;
    padding:  12px;
    border-radius:5px;
    color:white;
}
.basic{
    background-color:var(--basic); 
    justify-content: space-between;
}

.success{   
    /* background-color:#04db53;    */
    background-color: var(--success);
}
.error{
    /* background-color:#fc212c;   */
    background-color: var(--danger);
}

.warning{
    /* background-color:#F59E0B;   */
    background-color: var(--warn);
}
.ml{
    margin-left: auto;
    cursor: pointer;
}
