<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css">
    <link rel="stylesheet" href="../../styles/docs.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <title>Breeze.css</title>
</head>
<body>
  <div class="container">
    <header class="navbar">
      <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
      <span class="logo">
        <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
      </span>
      <a href="../../index.html" class="brand-name h6">
        Breeze.css
      </a>
      <div class="navbar-items">
        <nav>
          <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </nav>
      </div>
    </header>
    <aside>
      <div class="drawer" id="sidebar">
        <div class="drawer-content">
          <h2 class="h6">Components</h2>
          <div style="margin: auto;">
            <ul>
              <li class="drawer-items selected">
                <a href="">Alerts</a>
              </li>
              <li class="drawer-items">
                <a href="../Avatar/avatar.html"> Avatars</a>
              </li>
              <li class="drawer-items">
                <a href="../Badge/badge.html">Badge</a>
              </li>
              <li class="drawer-items">
                <a href="../Button/button.html">Button</a>
              </li>
              <li class="drawer-items">
                <a href="../Cards/cards.html">Cards</a>
              </li>
              <li class="drawer-items">
                <a href="../Grid/grid.html">Grid</a>
              </li>
              <li class="drawer-items">
                <a href="../ImageComponent/image.html">Image</a>
              </li>
              <li class="drawer-items">
                <a href="../Input/input.html">Inputs</a>
              </li>
              <li class="drawer-items ">
                <a href="../List/list.html">List</a>
              </li>
              <li class="drawer-items">
                <a href="../Modal/modal.html">Modal</a>
              </li>
              <li class="drawer-items">
                <a href="../Navbar/navbars.html">Navbars</a>
              </li>
              <li class="drawer-items">
                <a href="../Ratings/ratings.html">Ratings</a>
              </li>
              <li class="drawer-items">
                  <a href="../Slider/slider.html">Slider</a>
              </li>
              <li class="drawer-items">
                <a href="../Toast/toast.html">Toast</a>
              </li>
              <li class="drawer-items">
                <a href="../Text Utilities/typography.html">Typography</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
  <section class="doc-container">
    <div class="component-intro">
      <h1 class="h2">Alerts</h1>
      <p class="text-md info">An alert is used to display short, important message to attract user's attention
        with minimal user interaction.
      </p>
    </div>
    <!----simple alert-->
    <div class="component-intro">
    <h2 class="h5">Simple alert</h2>
    <p class="text-md info">Alert comes with four severity levels with a distinctive icon and color. Alerts can be 
      created using <span class="primary-text">alert</span> class followed by the severity name.
    </p>
  </div>
    <!--------preview div--------->
    <div class="example-container display-col">
      <div class="alert basic">
        <p>This is basic alert!</p>
      </div>
      
      <div class='alert success'>
        <span><i class="far fa-check-circle"></i></span>
        <p>This is success message!</p>
      </div>
      
      <div class='alert error'>
        <i class="fas fa-skull"></i>
        <p>This is error message.</p>
      </div>
      
      <div class='alert warning'>
        <i class="fas fa-exclamation-triangle"></i>
        <p>This is warning message.</p>
      </div>
    </div>

    <!------code div-------->
    
    <div class="code-snippet">
      <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
        <span class="tool_tip" id="tooltip">tooltip</span>
      </span>
      
      <!-- <span class="copied" id="copiedbtn"><i class="far fa-check-circle"></i></span> -->
      <pre>
        <code class="language-html mycode" >
          &lt;div class="alert basic"&gt;
            &lt;p&gt;This is basic alert!&lt;/p&gt;
          &lt;/div&gt;
          
          &lt;div class='alert success'&gt;
            &lt;span&gt;&lt;i class="far fa-check-circle"&gt;&lt;/i&gt;&lt;/span&gt;
            &lt;p&gt;This is success message!&lt;/p&gt;
          &lt;/div&gt;
          
          &lt;div class='alert error'&gt;
            &lt;i class="fas fa-skull"&gt;&lt;/i&gt;
            &lt;p&gt;This is error message.&lt;/p&gt;
          &lt;/div&gt;
          
          &lt;div class='alert warning'&gt;
            &lt;i class="fas fa-exclamation-triangle"&gt;&lt;/i&gt;
            &lt;p&gt;This is warning message.&lt;/p&gt;
          &lt;/div&gt;
        </code>
      </pre>
    </div>
    <!-----with action btn------>
    <div class="component-intro">
      <h2 class="h5">Alerts with action </h2>
      <p class="text-md info">Alert can have a closing action button. It is rendered after the message at 
        the end of the alert. 
      </p>
    </div>
    <div class="example-container display-col">     
      <div class='alert success'>
        <span><i class="far fa-check-circle"></i></span>
        <p>This is success message!</p>
        <span class="ml"><i class="fas fa-times "></i></span>
      </div>    
    </div>

    <!----code div------>
    <div class="code-snippet">
      <span class="copy" id="copybtn"><i class="far fa-copy fa-lg"></i>
        <span class="tool_tip" id="tooltip">tooltip</span>
      </span>
      <pre>
        <code class="language-html mycode">
          &lt;div class='alert success'&gt;
            &lt;span&gt;&lt;i class="far fa-check-circle"&gt;&lt;/i&gt;&lt;/span&gt;
              &lt;p&gt;This is success message!&lt;/p&gt;
            &lt;span class="ml"&gt;&lt;i class="fas fa-times "&gt;&lt;/i&gt;&lt;/span&gt;
          &lt;/div&gt; 
        </code>
      </pre>
    </div>
  </section>
  
  <!----footer---->
  <footer class="footer">
    <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
    <div class="socials">
      <a class="links" href="https://github.com/chanchal16" target="_blank">
        <i class="fab fa-github fa-2x"></i></a>
      <a class="links" href="https://twitter.com/chanchal16_" target="_blank">
        <i class="fab fa-twitter fa-2x"></i></a>
      <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank">
        <i class="fab fa-linkedin-in fa-2x"></i></a>
    </div>
    <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
  </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script> 
  <script>hljs.highlightAll();</script>
  <script src="../../index.js"></script>
</body> 
</html> 