@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

/******import component files*****/
@import './reset.css';
@import '../Components/Avatar/avatar.css';
@import '../Components/Badge/badge.css';
@import './variables.css';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

