@import './navbar.css';
@import './sidebar.css';
@import './footer.css';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;

    grid-template-areas:
    "header header"
    "aside main"
    "aside main"
    "aside main"
    "footer footer";
}

@media only screen and (max-width: 500px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "aside" 
        "main"
        "footer";
    }
    aside{
        position: fixed;
    }
}

header{
    /* grid-column: 1/ span 4; */
    grid-area: header;
    
}
aside{
    /* grid-column: 1/2; */
    /* grid-row: 2/span 4; */
    grid-area: aside;
}
section{
    /* grid-row: 2/6; */
    /* grid-column: 2/5; */
    grid-area: main;
}
footer {
    grid-area: footer;
  }
.doc-container{
    margin: 1rem 2rem;
    padding: 1rem;
}
.component-intro{
    margin: 1rem;
    padding: 0.2rem;
}
.info{
    margin: 0.6rem 0;
    padding: 0.5rem 0;
}
.example-container{
    background-color: var(--default-bg);
    /* min-height: 100px; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto 1.5rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.display-col{
    flex-direction: column;
}
.code-snippet{
    box-sizing: border-box;
    width: 80%;
    max-height: 250px;
    /* padding: 1rem 0;  */
    background-color: #FAFAFA;
    margin: 2rem auto;
   overflow: auto;   
     
}
.code-snippet iframe{
    width: 100%;
    border: none;
}
/*********utilities*****/
.classes-container {
    display: grid;
    /* grid-template-columns: 100px 300px; */
    grid-template-rows: repeat(6, auto);
    /* gap: 10px; */
}
.classes {
    grid-column: 1/2; 
    /* background-color: red; */
    padding:0.7rem;
}
.description {
    grid-column: 2/6;
    /* background-color: yellow; */
    padding:0.7rem;
}
.primary-bg{
    background-color: var(--primary);
    color: var(--light);
}
.gray-bg{
    background-color: var(--default-bg);
}
.light-bg{
    background-color: var(--light);
}
  