@import './navbar.css';
@import './sidebar.css';
.container {
    display: grid;
    height: 100vh;
}

header{
    grid-column: 1/ span 4;
    
}
aside{
    grid-column: 1/2;
    grid-row: 2/span 4;
}
section{
    grid-row: 2/6;
    grid-column: 2/5;
}
.doc-container{
    margin: 1rem 2rem;
    padding: 1rem;
}
.component-intro{
    margin: 1rem;
    padding: 0.2rem;
}
.info{
    margin: 0.6rem 0;
    padding: 0.5rem 0;
}
.example-container{
    background-color: var(--default-bg);
    /* min-height: 100px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.display-col{
    flex-direction: column;
}
.code-snippet{
    box-sizing: border-box;
    width: 100%;
    max-height: 250px;
    /* padding: 1rem 0;  */
    background-color: #FAFAFA;
    margin: 2rem 0;
    /* overflow: auto;   */
     
}
.code-snippet iframe{
    width: 100%;
    border: none;
}
/*********utilities*****/
.classes-container {
    display: grid;
    /* grid-template-columns: 100px 300px; */
    grid-template-rows: repeat(6, auto);
    /* gap: 10px; */
}
.classes {
    grid-column: 1/2; 
    /* background-color: red; */
    padding:0.7rem;
}
.description {
    grid-column: 2/6;
    /* background-color: yellow; */
    padding:0.7rem;
}
.primary-bg{
    background-color: var(--primary);
    color: var(--light);
}
.gray-bg{
    background-color: var(--default-bg);
}
.light-bg{
    background-color: var(--light);
}
  