@import './variables.css';
.footer{
    background-color:
    #9f1239;
    padding: 1rem;
    
}

.socials,.footer-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* margin: 1rem; */
}
.footer-header span{
    color: var(--primary);
    font-family: 'Amarante', cursive;
}
.links{
    margin: 0.5rem 1rem;
}
.links:hover{
    color: var(--primary);
}