@import './variables.css';
ul {
    margin: 0;
    padding: 0;
}
.drawer {
    width: 200px;
    background-color: #fff1f2;
}

@media only screen and (max-width: 500px) {
    .drawer{
        display: none;
    }
    .active{
        display: block;
        position: absolute;
        width: 100vw;   
        height: 25vh; 
        top: 3.8rem; 
        z-index: 99999;
        /* transition: left 2s ease; */
        overflow-y: scroll;      
    }
}
.drawer-content {
    padding: 1rem 0.5rem;
}
.drawer-items {
    list-style: none;
    padding: 0.25rem;
    margin: 1rem;
    font-size: 18px;
    
}
.drawer-items a{
    color: #555756;
    text-decoration: none;
}
.drawer-items:hover,.drawer-items a:hover {
    color: var(--primary);
    cursor: pointer;
    background-color: white;
}
.selected,.selected a {
    cursor: pointer;
    color: var(--primary-dark);
    background-color: white;
}