:root{
    --primary:#fb7185;
    --primary-dark:#f43f5e;
    --secondary:#34d399;
    --secondary-dark:#10b981;
    --danger: #F44336;
    --success: #4CAF50;
    --warn:#FF9800;
    --basic:grey;
    --light:#ffe4e6 ;
    --default-bg: #F5F7F9;
}