<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css" class="stylesheet">
    <link rel="stylesheet" href="../../styles/docs.css">
    <title>Breeze.css</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
            <span class="logo">
              <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
              <!-- <img src="../assets/logo.svg" alt="logo" width="35px" height="35px" /> -->
            </span>
            <h2 class="brand-name h6">
              Breeze.css
            </h2>
            <div class="navbar-items">
              <nav>
                <a href="#" class="github-btn">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </nav>
            </div>
        </header>
        <aside>
            <div class="drawer">
            <div class="drawer-content">
                <h2 class="text-md">Components</h2>
                <div style="margin: auto;">
                <ul>
                    <li class="drawer-items">
                      <a href="../Alert/alert.html">Alerts</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Avatar/avatar.html"> Avatars</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Badge/badge.html">Badge</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Button/button.html">Button</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Cards/cards.html">Cards</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../ImageComponent/image.html">Image</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Input/input.html">Inputs</a>
                    </li>
                    <li class="drawer-items ">
                      <a href="../List/list.html">List</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Navbar/navbars.html">Navbars</a>
                    </li>
                    <li class="drawer-items selected">
                    <a href="">Typography</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </aside>
        <section class="doc-container">
          <div class="component-intro">
            <h1 class="h2">Typography</h1>
            <p class="text-md info">
              The Typography component makes it easy to apply a default set of font weights and 
              sizes in your application.
            </p>
          </div>
          <!----headings---->
          <div class="component-intro">
            <h2 class="h5">Headings</h2>
          </div>
          <!--------preview div--------->
          <div class="example-container display-col">
            <p class="h1">h1 heading</p>
            <p class="h2">h2 heading</p>
            <p class="h3">h3 heading</p>
            <p class="h4">h4 heading</p>
            <p class="h5">h5 heading</p>
            <p class="h6">h6 heading</p>
          </div>
          <!---txt sizes--->
          <div class="component-intro">
            <h2 class="h5">Texts</h2>
          </div>
          <!--------preview div--------->
          <div class="example-container display-col">
            <p class="text-md">medium text</p>
            <p class="text-sm">small text</p>
            <p class="text-xs">smaller text</p>
          </div>
          <!---alignment--->
          <div class="component-intro">
            <h2 class="h5">Text Alignment</h2>
          </div>
          <!--------preview div--------->
          <div class="example-container ">
            <p class="center-text">Center text</p>
            <p class="left-text">Left text</p>
            <p class="right-text">Right text</p>
          </div>
        </section>
    </div>   
</body>
</html>