.h1,.h2,.h3,.h4,.h5,.h6{
    margin: 0.5rem 0;
    line-height: 1;
    font-weight: 500;
}
/******heading*****/
.h1{
    font-size: 3.2rem;
}
.h2{
    font-size: 2.8rem;
}
.h3{
    font-size: 2.5rem;
}
.h4{
    font-size: 2rem;
}
.h5{
    font-size: 1.7rem;
}
.h6{
    font-size: 1.5rem;
}
/*****text sizes********/
.text-md{
    font-size: 1.1rem;
}
.text-sm{
    font-size: 1rem;
}
.text-xs{
    font-size: 0.8rem;
}
/********gray color text******/
.gray-text{
    color: gray;
}
/****center text*******/
.center-text{
    text-align: center;
}