<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/breeze.css" class="stylesheet">
    <link rel="stylesheet" href="../../styles/docs.css">
    <title>Breeze.css</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
          <span id="sidenav"><i class="fas fa-bars fa-lg"></i></span>
            <span class="logo">
              <img src="../../assets/swan-breeze.svg" alt="logo" width="35px" height="35px" />
            </span>
            <a href="../../index.html" class="brand-name h6">
              Breeze.css
            </a>
            <div class="navbar-items">
              <nav>
                <a href="https://github.com/chanchal16/breeze.css" class="github-btn" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </nav>
            </div>
        </header>
        <aside>
            <div class="drawer" id="sidebar">
            <div class="drawer-content">
              <h2 class="text-md"><strong>Components</strong></h2>
                <div style="margin: auto;">
                <ul>
                    <li class="drawer-items">
                      <a href="../Alert/alert.html">Alerts</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Avatar/avatar.html"> Avatars</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Badge/badge.html">Badge</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Button/button.html">Button</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Cards/cards.html">Cards</a>
                    </li>
                    <li class="drawer-items selected">
                      <a href="../Grid/grid.html">Grid</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../ImageComponent/image.html">Image</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Input/input.html">Inputs</a>
                    </li>
                    <li class="drawer-items ">
                      <a href="../List/list.html">List</a>
                    </li>
                    <li class="drawer-items">
                      <a href="../Navbar/navbars.html">Navbars</a>
                    </li>
                    <li class="drawer-items selected">
                    <a href="">Typography</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </aside>
        <section class="doc-container">
          <div class="component-intro">
            <h1 class="h2">Typography</h1>
            <p class="text-md info">
              The Typography component makes it easy to apply a default set of font weights and 
              sizes in your application. You can use the following utility classes.
            </p>
          </div>
          <div class="classes-container">
            <div class="classes primary-bg"><strong>Class</strong></div>
            <div class="description primary-bg"><strong>Description</strong></div>
            <div class="classes gray-bg">.h1</div>
            <div class="description gray-bg">font-size: 3.2rem</div>
            <div class="classes light-bg">.h2</div>
            <div class="description light-bg">font-size: 2.8rem</div>
            <div class="classes gray-bg">.h3</div>
            <div class="description gray-bg">font-size: 2.5rem</div>
            <div class="classes light-bg">.h4</div>
            <div class="description light-bg">font-size: 2rem</div>
            <div class="classes gray-bg">.h5</div>
            <div class="description gray-bg">font-size: 1.7rem</div>
            <div class="classes light-bg">.h6</div>
            <div class="description light-bg">font-size: 1.5rem</div>
            <div class="classes gray-bg">.text-md, .text-sm, .text-xs</div>
            <div class="description gray-bg">font-size: 1.1rem, 1rem, 0.8rem respectively</div>
            <div class="classes light-bg">.gray-text</div>
            <div class="description light-bg">Applies gray text to the element.</div>
            <div class="classes grayt-bg">.primary-text</div>
            <div class="description gray-bg">Applies primary color text to the element.</div>
            <div class="classes light-bg">.left-text, .center-text, .right-text</div>
            <div class="description light-bg">Aligns text to the left, center and right respectively.</div>
          </div>
        </section>
        <!-------footer--->
        <footer class="footer">
          <p class="text-md footer-header">made by &nbsp;<span>Chanchal</span></p>
          <div class="socials">
            <a class="links" href="https://github.com/chanchal16" target="_blank">
              <i class="fab fa-github fa-2x"></i></a>
            <a class="links" href="https://twitter.com/chanchal16_" target="_blank" >
              <i class="fab fa-twitter fa-2x"></i></a>
            <a class="links" href="https://www.linkedin.com/in/rajput07/" target="_blank">
              <i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
          <p class="text-xs footer-header">© 2022 &nbsp;<span>Breeze.css</span></p>
        </footer>
    </div>
    
    <script src="../../index.js"></script>
</body>
</html>